
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        .bg1 {
            width: 100%;
            height: 100%;
            background-size: cover;
        }
    </style>

    <meta name="viewport" content="width=device-width" />
    <title>displayT</title>
</head>
<body>
    <script>



    </script>

</body>
</html>
