
@{
    Layout = null;
}


<!DOCTYPE html>

<html >
<head>

    <style>
        div.fixed{
            position: fixed;
            top: -90px;
            bottom: 90px;
            left: -180px;
            right: 180px;
        }
    </style>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
     <img src="~/Images/export-map-share.png" />
</body>
</html>
